body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

h1.title{
    font-size: 40px;
    color: #f03333;
    line-height: 1.2;
    text-transform: uppercase;
}

span.bold-text{
    font-weight: bold;
}

.logo{
    font-size: 30px;
    color: #12ac11;
    line-height: 1.2;
    text-decoration: underline
}
.list{
    font-size: 20px;
    color: #444;
    font-style: italic;
    list-style-type: square
}
* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}