{% load static %}
{% load  base_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'base/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>

{% block content %}
{% endblock %}
{% block mainmenu %}

{% for p in possibility %}
            <li><a href="{% url p.url_name %}">{{ p.title }}</a></li>
{% endfor %}
{% endblock mainmenu %}
</body>
</html>